# Web framework
fastapi
uvicorn[standard]
python-multipart

langchain-huggingface


# Langchain ecosystem
langchain
langchain-community
langchain-core
langchain-groq

# Vectorstore
pinecone

# Embeddings - sentence transformers
langchain-google-genai

PyPDF

python-dotenv

# Typing
pydantic
pydantic-settings
requests
tqdm

# logging
loguru

# File uploads
aiofiles
sentence_transformers

# testing
pytest
httpx

# ragas install dependancies
ragas>=0.1.0
datasets>=2.14.0
pandas>=2.0.0