# Web framework
fastapi
uvicorn[standard]
python-multipart


# Langchain ecosystem
langchain
langchain-community
langchain-huggingface
langchain-core
langchain-groq
langsmith>=0.1.0

# Vectorstore
pinecone

# Embeddings - sentence transformers
langchain-google-genai

PyPDF

python-dotenv

# Typing
pydantic
pydantic-settings
requests
tqdm

# logging
loguru

# File uploads
aiofiles
sentence_transformers

# testing
pytest
pytest-asyncio
httpx

# observability
ragas>=0.1.0
prometheus-client

# data & numerical processing
datasets>=2.14.0
pandas>=2.0.0

# database & connectors
asyncpg